.text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input {
  padding: 0 14px;
  min-height: 30px;
  min-width: 250px;
  outline: none;
}

.input:hover,
.input:focus {
  outline: 1px solid aqua;  
}
