.form {
  padding-top: 10px;
}

.text:not(:last-child) {
  margin-bottom: 10px;
}

.text:last-child {
  margin-top: 10px;
}

.btn {
  background-color: rgb(37, 219, 13);
  color: white;
  border: none;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  outline: 1px solid aqua;  
}

.input {
  padding: 0 14px;
  min-height: 30px;
  min-width: 250px;
  outline: none;
}

.input:hover,
.input:focus {
  outline: 1px solid aqua;  
}