.section {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form {
  padding: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.5);
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  padding: 0 14px;
  min-height: 50px;
  min-width: 250px;
  outline: none;
}

.input:hover,
.input:focus {
  outline: 1px solid aqua;  
}

.button {
  padding: 5px 10px;
  background-color: aqua;
  border-color: rgb(249, 250, 250);
  color:darkslateblue
}